Source: qtkeychain
Priority: extra
Maintainer: ownCloud for Debian maintainers <pkg-owncloud-maintainers@lists.alioth.debian.org>
Uploaders: Sandro Knauß <bugs@sandroknauss.de>
Build-Depends: cmake,
               debhelper (>= 8.0.0),
               hardening-wrapper,
#               qttools5-dev-tools, qttools5-dev,   #for QT5 (#738196->we need to wait till 5.2.0 enters sid)
               libqt4-dev,
               pkg-kde-tools
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/frankosterfeld/qtkeychain
Vcs-Git: git://anonscm.debian.org/pkg-owncloud/qtkeychain.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-owncloud/qtkeychain.git

Package: libqtkeychain0
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Qt API to store passwords and other secret data securely
 It uses KWallet (via D-Bus) if available.
 Support for the GNOME Keyring via freedesktop.org's Secret Storage
 D-Bus specification is planned but not yet implemented.

Package: qtkeychain-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libqtkeychain0 (= ${binary:Version}), ${misc:Depends}
Description: Development files for qtkeychain
 A Qt API to store passwords and other secret data securely
 .
 It uses KWallet (via D-Bus) if available.
 Support for the GNOME Keyring via freedesktop.org's Secret Storage
 D-Bus specification is planned but not yet implemented.
